<html>
  <head>
    <title>TinyApp</title>
    <!-- <base href="http://localhost:8080/urls"> -->
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <ul>
      <% for(var i in urls) { %>
        <li>
          <h1><a href=<%= urls[i]["longURL"] %>><%= urls[i]["longURL"] %></a> <p>Shortened URL: <%= i %></p></h1>
          <form method="POST" action="/urls/<%= i %>/delete">
            <button>Delete</button>
          </form>
          <form method="GET" action="/urls/<%= i %>">
            <button>Edit</button>
          </form>
        </li>
      <% } %>
    </ul>
    <form action="/urls/new" class="text-center">
      <button><h1>Shorten URL</h1></button>
    </form>
  </body>
</html>