<html>
  <head>
    <title>TinyApp</title>
    <!-- <base href="http://localhost:8080/urls"> -->
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <ul>
      <% for(var i in urls) { %>
        <li>
          <a href=<%= urls[i] %>><%= urls[i] %></a> <p>Shortened URL: <%= i %></p>
          <form method="POST" action="/urls/<%= i %>/delete">
            <button>Delete</button>
          </form>
          <form method="GET" action="/urls/<%= i %>">
          <button>Edit</button>
        </form>
        </li>
      <% } %>
    </ul>
    <button><a href="/urls/new">Shorten URL</a></button>
  </body>
</html>